<?xml version="1.0"?>
<config>
  <modules>
    <Maket_Test>
      <version>0.1.0</version>
    </Maket_Test>
  </modules>
  <frontend>
    <routers>
      <test>
        <use>standard</use>
        <args>
          <module>Maket_Test</module>
          <frontName>test</frontName>
        </args>
      </test>
    </routers>
    <layout>
      <updates>
        <test>
          <file>test.xml</file>
        </test>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <test>
        <class>Maket_Test_Helper</class>
      </test>
    </helpers>
    <blocks>
      <test>
        <class>Maket_Test_Block</class>
      </test>
    </blocks>
  </global>
</config> 